* {
    font-family: helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:hover, a:focus, a:active {
    color: inherit;
}

.margin {
    margin-top: 20px;
    margin-bottom: 40px;
}

/*header section*/
header {
    background-color: rgb(25, 25, 25);
    padding-bottom: 1px;
}

h1 {
    text-align: center;
    color: rgb(210, 210, 210);
    margin-top: 0;
    font-size: 46px;
}

header ul {
    list-style: none;
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0;
    color: rgb(210, 210, 210);
}

header li {
    border-bottom: 1px solid rgba(150, 150, 150, .5);
    width: 35%;
    margin: 5px auto;
    padding-bottom: 3px;
}

/*about me Section*/

main {
    background-color: rgb(240, 248, 255);
    padding-top: 1px;
    padding-bottom: 1px;
}

h2 {
    text-align: center;
    font-size: 40px;
}

section img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid rgb(25, 25, 25);
    display: block;
    margin: 0 auto;
}

section p {
    text-align: center;
    margin-top: 15px;
}



/*apps section*/

#applications div {
    display: flex;
    justify-content: center;
}

.apps img {
    width: 80vw;
    height: 20vh;
    margin: 10px auto;
    border: 2px solid rgb(25, 25, 25);
}

.app1 img {
    width: 85vw;
    height: 25vh;
}

/*contact section*/

.contact ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

.contact li {
    border-bottom: 1px solid rgba(150, 150, 150, .5);
    width: 35%;
    margin: 5px auto;
    padding-bottom: 3px;
    width: 200px;
}

.contact li:first-child {
    width: 300px;
}